.resources__logo {
  max-width: 270px;
  max-height: 38px;
  width: 100%;
  height: auto;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resources__logo:hover {
  opacity: 0.5;
}